
body{
    background-color: #4d54da;
}
#nav
{
    position: fixed;
    width: 100%;
    margin: 0px;
    opacity: 80%;
}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 40px;

    /* Additional styling for your navbar */

}

.logo a{
    margin-left: 100px;
    font-family: raleway;
    font-weight: bold;
    font-size: 35px;
    color: deeppink;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar a{
    text-decoration: none;
    display: block;
    position: relative;
    
}

.nav-links li
{
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
}

.navbar li a::after
{
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: deeppink;
    bottom: -0.4em;
    transition: all  ease-in-out 400ms;

}

.navbar li a:hover::after
{
    width: 100%;

}
.navbar li a:hover
{
    color: deeppink;
    transition: all  ease-in-out 400ms;
}
.back-div
{
    width: 100%;
    display: flex;
    background-image: url(/assert/image/back.jpg);
    height: 926px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bottom-left1
{
    position: absolute;
    bottom: 400px;
    left: 20px;
    font-family: Raleway-Black;
    color: #4d54da;
    font-size: 80px;
}
.bottom-left2
{
    position: absolute;
    bottom: 320px;
    left: 50px;
    color: #4d54da;
    font-size: 80px;
    font-family: Raleway-Black;
}
.bottom-left3
{
    position: absolute;
    bottom: 200px;
    left: 100px;
    color: black;
    font-size: 30px;
    font-family: Raleway-Black;
}
.home-btn a
{
    text-decoration: none;
    color: white;
}
.home-btn
{
    position: absolute;
    bottom: 130px;
    left: 150px;
    color: white;
    font-size: 25px;
    font-family: Raleway-Black;
    border-radius: 10px;
    background-color: deeppink;
    border: none;
    height: 35px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
.back-photo
{
    background-image: url();
}
.mainphoto
{
    width: 100%;
    height: 700px;
    display: flex;

}
#about{
    height: 750px;
}
.aboutme{
    background-color: #4d54da;
    width: 100%;
    height: 750px;
    color:white;
    display: flex;
    flex-wrap: wrap;
}
.about-intro
{
    width: 100%;
    height: 200px;
    margin-right: 5px;
}
#intro{
    font-family: Century751 SeBd BT;
    font-weight: bolder;
    color: deeppink;
}

#intro-para
{
    font-family: Century751 SeBd BT;
    font-size: 16px;
    text-align: justify;
    padding-left: 10px;
}

.myphoto-palani:hover
{
     width: 50%;
    height: 250px;
    border-radius: 5%;
    transform: rotate(360deg);
    
}
.myphoto
{
     width: 50%;
    height: 350px;
    
}
.myphoto-palani{
    width: 30%;
    height: 200px;
    box-shadow: 10px 10px rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
    transition: width 2s,height 2s,border-radius 2s,transform 2s;

}
.about-education li p
{
    font-family:Century751 SeBd BT;
    font-size: 16px;
}
.about-education{
    width: 50%;
    height: 350px;
}
.about-education li h5 
{
    font-family:Century751 SeBd BT;
    font-weight: bold;
}
.about-deatils
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-deatils a{
    text-decoration: none;
    color: black;
}
.btn1{
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #ebdbfe;
    font-family:Century751 SeBd BT;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 8px 8px;
    border: none;
}
.btn2
{
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #63ffec;
    font-family:Century751 SeBd BT;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 8px 8px;
    border: none;
}
.btn3
{
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #07c34f;
    font-family:Century751 SeBd BT;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 8px 8px;
    border: none;
}
.btn4{
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #fe5d85;
    font-family:Century751 SeBd BT;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 8px 8px;
    border: none;
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover{
    margin: 8px 0px 0px 8px ;
    box-shadow: none;
    border: 1px solid black;
    color: black;
}
#services
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.webdevelop-service
{
    width: 25%;
    box-shadow:15px 15px black;
    height: 600px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 15px;
}
.uiuxdesign-service
{
    width: 25%;
    height: 600px;
    box-shadow:15px 15px black;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 16px;
}
.photoshop-service
{
    width: 25%;
    height: 600px;
    box-shadow:15px 15px black;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 16px;
}
.webdevelop-service h3,.uiuxdesign-service h3,.photoshop-service h3
{
    text-align: center;
    color: red;
}
.webdevelop-service h4,.uiuxdesign-service h4,.photoshop-service h4
{
    color: blue;
}
.webdevelop-service-btn
{
    margin: 15px 20px 0% 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}
.uiuxdesign-service-btn
{
    margin: 0px 20px 10px 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}
.photoshop-service-btn
{
    margin: 0px 20px 10px 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}
.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover
{
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 8%;
    width: 110px;
}
.webdevelop-service-btn a,.uiuxdesign-service-btn a,.photoshop-service-btn a
{
    text-decoration: none;
    color: white;
}
#contact-page h1
{
    font-family: Century751 SeBd BT;
    font-weight: bolder;
    color: deeppink;
    width: 100%;
}
.contact-div
{
    background-color: white ;
    width: 70%;
    height: 550px;
    margin: 10px 15% 10px 15%;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.form
{
    width: 100%;
}
.contact-div h2
{
    color: deeppink;
    text-align: center;
    margin-top: 0px;
    font-size: 48px;
}
form .name
{
    margin-left: 20px;
    font-size: 30px;
    font-family: Century751 SeBd BT;
}
.name-input
{
    width: 65%;
    margin-left: 145px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}
form .mobile-number
{
    margin-left: 20px;
    font-size: 30px;
    font-family: Century751 SeBd BT;
}
.mobile-number-input
{
    width: 65%;
    margin-left: 13px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}
form .gmail-id
{
    margin-left: 20px;
    font-size: 30px;
    font-family: Century751 SeBd BT;
}
.gmail-id-input
{
    width: 65%;
    margin-left: 115px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}
form .describe
{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-family: Century751 SeBd BT;
}
.describe-input
{
    width: 65%;
    margin-left: 105px;
    height: 50px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}
form button
{
    background-color: deeppink;
    color: white;
    width: 10%;
    height: 30px;
    border-radius: 10px;
    margin-left: 47%;
    margin-top: 30px;
}
form button:hover
{
    background-color: #4d54da;
}
.contact-div h4
{
    margin-left: 50%;
    font-size: 21px;
}
.socialmedia-contact 
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.socialmedia-contact a
{

    display: flex;
    justify-content: space-evenly;
}
.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover
{
    height: 40px;
}
.footer
{
    background-color: #f2f2f2;
    opacity: 50%;
    width: 100%;
    height: 200px;
}
.footer
{
    display: flex;
    justify-content: space-around;
}
.footer a 
{
    text-decoration: none;
    font-family: Century751 SeBd BT;
    color: black;
}
.footer a:hover
{
    color: red;
    
}
.footer h5
{
    font-size: 20px;
    font-family: Century751 SeBd BT;
}
.footer-all
{
    margin-top: 80px;
    
}
.footer-portfolio
{
    margin-top: 100px;
    font-size: 30px;
}
@media only screen and (max-width: 1024px) {
  .back-div
  {
    height: 800px;
    width: 100%;
  }
    .bottom-left1
    {
        position: absolute;
        bottom: 500px;
        left: 30px;
        font-family: Raleway-Black;
        color: #4d54da;
        font-size: 50px;
    }
    .bottom-left2
{
    position: absolute;
    bottom: 440px;
    left: 50px;
    color: #4d54da;
    font-size: 50px;
    font-family: Raleway-Black;
}
.bottom-left3
{
    position: absolute;
    bottom: 350px;
    left: 100px;
    color: black;
    font-size: 20px;
    font-family: Raleway-Black;
}
.home-btn
{
    position: absolute;
    bottom: 300px;
    left: 150px;
    color: white;
    font-size: 15px;
    font-family: Raleway-Black;
    border-radius: 10px;
    background-color: #fe5d85;
    border: none;
    height: 25px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
#about
{
    height: 680px;
}
.aboutme{
    height: 680px;
}
.about-intro
{
    width: 100%;
    margin-right: 5px;
    height: 200px;
}
.myphoto-palani
{
    height: 150px;
}
.myphoto-palani:hover
{
    height: 250px;
}
.about-education
{
    height: 300px;
}
.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3
{
    font-size: 12px;
}
.webdevelop-service,.uiuxdesign-service,.photoshop-service
{
    height: 500px;
    border-radius: 70px;
}
.uiuxdesign-service-btn,.photoshop-service-btn
{
    margin-top: 30px;
    margin-right: 50px;
}
.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover
{
    font-size: 10px;
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 6%;
}
.name-input
{
    width:55%;
    margin-left: 150px;
}
.mobile-number-input
{
    width:55%;
    margin-left: 20px;
}
.gmail-id-input
{
    width:55%;
    margin-left: 120px;
}
.describe-input
{
    width:55%;
    margin-left: 110px;
}
}

@media only screen and (max-width: 768px) {
    .logo a 
    {
        font-size: 25px;
    }
    .nav-links a
    {
        font-size: 14px;
    }
    .back-div
    {
        height: 600px;
        width: 100%;
    }
    .bottom-left1
    {
        bottom: 550px;
        left: 30px;
        font-size: 35px;
    }
    .bottom-left2
{
    bottom: 510px;
    left: 45px;
    font-size: 35px;
}
.bottom-left3
{
    bottom: 430px;
    left: 60px;
    font-size: 16px;
}
.home-btn
{
    bottom: 380px;
    left: 100px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    height: 25px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
#about
{
    height: 660px;
}
.about-intro
{
    width: 100%;
    margin-right: 5px;
    height: 200px;
}
#intro-para,.about-education ul li p,.about-education ul li 
{
    font-size: 13px;
    
}
.aboutme{
    background-color: #4d54da;
    width: 100%;
    height: 560px;
    color:white;
}
.about-education
{
    height: 350px;
}
.myphoto
{
    height: 300px;
}
.myphoto img 
{
    height: 200px;
    width: 50%;
}
.myphoto-palani:hover
{
     width: 50%;
    height: 200px;
    border-radius: 5%;
    transform: rotate(360deg);
    
}
.btn1,.btn2,.btn3,.btn4
{
    border-radius: 30px;
    width: 155px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 8px 8px;
}
#services
{
    height: 450px;
}
.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3
{
    font-size: 9px;
}
.webdevelop-service,.uiuxdesign-service,.photoshop-service
{
    height: 400px;
    border-radius: 50px;
}
.webdevelop-service-btn,.uiuxdesign-service-btn,.photoshop-service-btn
{
    font-size: 10px;
    width: 55%;
    margin-left: 50px;
}
.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover
{
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 6%;
    width: 90px;
    font-size: 10px;
}
#contact-page h1
{
    font-family: Century751 SeBd BT;
    font-weight: bolder;
    color: deeppink;
    width: 100%;
}
.contact-div
{
    width: 70%;
    height: 400px;
    margin: 10px 15% 10px 15%;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.form
{
    width: 100%;
    height: 330px;
}
.contact-div h2
{
    margin-top: 0px;
    font-size: 28px;
}
form .name
{
    margin-left: 20px;
    font-size: 15px;
}
.name-input
{
    width: 60%;
    margin-left: 75px;
    height: 25px;
}
form .mobile-number
{
    margin-left: 20px;
    font-size: 15px;
}
.mobile-number-input
{
    width: 60%;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
}
form .gmail-id
{
    margin-left: 20px;
    font-size: 15px;
}
.gmail-id-input
{
    width: 60%;
    margin-left: 60px;
    margin-top: 5px;
    height: 25px;
}
form .describe
{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 15px;
}
.describe-input
{
    width: 60%;
    margin-left: 55px;
    margin-top: 5px;
    height: 45px;
}
form button
{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 30px;
}
.contact-div h4
{
    margin-left: 50%;
    font-size: 15px;
}
.socialmedia-contact 
{
    height: 30px;

}
.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover
{
    height: 20px;
}
.footer
{
    height: 200px;
}
.footer h5
{
    font-size: 18px;
}
.footer-all
{
    margin-top: 85px;
    font-size: 13px;
    
}
.footer-about a,.footer-services a,.footer-contact a
{
    font-size: 13px;
}
.footer-portfolio
{
    margin-top: 55px;
    font-size: 30px;
}
}
@media only screen and (max-width: 426px) {
   .navbar
   {
    justify-content: space-around;
    height: 25px;
   }
    .logo a 
    {
        font-size: 12px;
    }
    .nav-links a
    {
        font-size: 8px;
    }
    .back-div
    {
        height: 300px;
        width: 100%;
    }
    .bottom-left1
    {
        bottom: 480px;
        left: 20px;
        font-size: 15px;
    }
    .bottom-left2
{
    bottom: 460px;
    left: 25px;
    font-size: 15px;
}
.bottom-left3
{
    bottom: 430px;
    left: 30px;
    font-size: 7px;
}
.home-btn
{
    bottom: 405px;
    left: 43px;
    width: 10%;
    font-size: 5px;
    border-radius: 10px;
    border: none;
    height: 13px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
.about-intro
{
    width: 100%;
    margin-right: 5px;
    height: 200px;
    margin-top: 0%;
    margin-top: 0%;
}
#intro-para,.about-education ul li p,.about-education ul li 
{
    font-size: 10px;
    
}
#intro
{
    font-size: 20px;
    height: 30px;
}
#about
{
    height: 550px;
}
.aboutme{
    background-color: #4d54da;
    width: 100%;
    height: 440px;
    color:white;
}
.about-education 
{
    height: 250px;
    margin-top: 0%;
    margin-top: 0%;
}
.myphoto img 
{
    height: 110px;
    width: 50%;
}
.myphoto-palani:hover
{
     width: 50%;
    height: 130px;
    border-radius: 5%;
    transform: rotate(360deg);
    
}
.btn1,.btn2,.btn3,.btn4
{
    border-radius: 20px;
    width: 85px;
    height: 50px;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 8px 8px;
}
.h1c
{
    font-size: 22px;
    font-family: Century751 SeBd BT;
}
#services
{
    height: 1350px;
    display: flex;
    flex-wrap: wrap;
}
.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3
{
    font-size: 9px;
}
.webdevelop-service,.uiuxdesign-service,.photoshop-service
{
    width: 70%;
    height: 400px;
    border-radius: 50px;
    font-family: Century751 SeBd BT;
    margin-bottom: 30px;
}
.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover
{
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 6%;
    width: 90px;
    font-size: 10px;
}
#contact-page h1
{
    font-family: Century751 SeBd BT;
    font-weight: bolder;
    color: deeppink;
    width: 100%;
}
.contact-div
{
    width: 90%;
    height: 300px;
    margin: 10px 15% 10px 5%;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.form
{
    width: 100%;
    height: 260px;
    
}
.contact-div h2
{
    margin-top: 0px;
    font-size: 21px;
}
form .name
{
    margin-left: 20px;
    font-size: 10px;
}
.name-input
{
    width: 60%;
    margin-left: 55px;
    height: 25px;
}
form .mobile-number
{
    margin-left: 20px;
    font-size: 10px;
}
.mobile-number-input
{
    width: 60%;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
}
form .gmail-id
{
    margin-left: 15px;
    font-size: 10px;
}
.gmail-id-input
{
    width: 60%;
    margin-left: 53px;
    margin-top: 5px;
    height: 25px;
}
form .describe
{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 10px;
}
.describe-input
{
    width: 60%;
    margin-left: 43px;
    margin-top: 5px;
    height: 45px;
}
form button
{
    width: 18%;
    height: 20px;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 15px;
    font-size: 10px;
}
.contact-div h4
{
    margin-left: 50%;
    font-size: 8px;
}
.socialmedia-contact 
{
    height: 10px;

}
.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover
{
    height: 5px;
}
.footer
{
    height: 170px;
}
.footer h5
{
    font-size: 13px;
}
.footer-all
{
    margin-top: 65px;
    font-size: 10px;
    
}
.footer-about a,.footer-services a,.footer-contact a
{
    font-size: 8px;
    margin-top: 0px;
    padding-top: 0px;
}
.footer-portfolio
{
    margin-top: 55px;
    font-size: 20px;
}
}
@media screen and (max-width:415px) 
{
    .navbar
    {
     justify-content: space-evenly;
     height: 25px;
    }
    .logo a 
    {
        font-size: 10px;
    }
    .nav-links a
    {
        font-size: 6px;
    }
    .back-div
    {
        height: 300px;
        width: 100%;
    }
    .bottom-left1
    {
        bottom: 730px;
        left: 15px;
        font-size: 15px;
    }
    .bottom-left2
{
    bottom: 710px;
    left: 20px;
    font-size: 15px;
}
.bottom-left3
{
    bottom: 680px;
    left: 30px;
    font-size: 7px;
}
.home-btn
{
    bottom: 660px;
    left: 43px;
    width: 8%;
    font-size: 4px;
    border-radius: 10px;
    border: none;
    height: 10px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
} 
.btn1,.btn2,.btn3,.btn4
{
    border-radius: 15px;
    width: 85px;
    height: 35px;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 6px 6px;
}
.myphoto-palani
{
    margin-left: 50px;
}
}
@media screen and (max-width:376px) {
    .back-div{
        width:100%;
        height: 290px;
    }
    .bottom-left1
    {
        bottom: 480px;
        left: 15px;
        font-size: 15px;
    }
    .bottom-left2
{
    bottom: 460px;
    left: 20px;
    font-size: 15px;
}
.bottom-left3
{
    bottom: 430px;
    left: 30px;
    font-size: 7px;
}
.home-btn
{
    bottom: 415px;
    left: 43px;
    width: 8%;
    font-size: 3px;
    border-radius: 10px;
    border: none;
    height: 8px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
}
/*@media screen and (min-width:1400px) {
    .back-div{
        width:100%;
        height: 1050px;
    }
    .bottom-left1
    {
        bottom: 680px;
        left: 55px;
        font-size: 65px;
    }
    .bottom-left2
{
    bottom: 610px;
    left: 70px;
    font-size: 65px;
}
.bottom-left3
{
    bottom: 500px;
    left: 120px;
    font-size: 25px;
}
.home-btn
{
    bottom: 455px;
    left: 160px;
    width: 8%;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    height: 28px;
}
.home-btn:hover
{
    background-color: #4d54da;
    transition: all ease 2s;
}
}*/