html {

	scroll-behavior: smooth;
}

body {
    background-color: #4d54da;
}

#nav {
    position: fixed;
    width: 100%;
    margin: 0px;
    opacity: 80%;
} 

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 40px;

}

.logo {
    margin-left: 6%;
}

.logo a {
    font-family: raleway;
    font-weight: bold;
    font-size: 35px;
    color: deeppink;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    display: block;
    position: relative;
    
}

.nav-links li {
    margin-right: 40%;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
}

.navbar li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: deeppink;
    bottom: -0.4em;
    transition: all  ease-in-out 400ms;

}

.navbar li a:hover::after {
    width: 100%;

}
.navbar li a:hover {
    color: deeppink;
    transition: all  ease-in-out 400ms;
}
 /* start home  */

.back-div {
    width: 100%;
    display: flex;
    background-image: url(./back/back.jpg);
    height: 990px;
    background-size: cover;
    background-repeat: no-repeat;
}

.back-photo-details {
    margin-top: 20%;
    margin-left: 5%;
    width: calc(100% - 50%  );
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.bottom-left1 {
    font-family: Raleway-Black;
    color: #4d54da;
    font-size: 80px;
    width:100%;
}

.bottom-left2 {
    color: #4d54da;
    font-size: 80px;
    width:100%;
    font-family: Raleway-Black;
}

.bottom-left3 {
    margin-left: 8%;
    margin-top: 5%;
    color: black;
    font-size: 30px;
    width:100%;
    font-family: Raleway-Black;
}

.bottom-left4 {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
}

.home-btn a {
    text-decoration: none;
    color: white;
}

.home-btn {
    color: white;
    font-size: 25px;
    width:25%;
    font-family: Raleway-Black;
    border-radius: 10px;
    background-color: deeppink;
    border: none;
    height: 35px;
}

.home-btn:hover {
    background-color: #4d54da;
    transition: all ease 2s;
}

.back-photo {
    display: flex;
}

.mainphoto {
    width: 100%;
    height: 700px;
    display: flex;
}

#about {
    height: 750px;
}

.aboutme {
    background-color: #4d54da;
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

.about-intro {
    width: 100%;
    height: 30%;
    margin-right: 5px;
}

#intro {
    font-family: Raleway-Black;
    font-weight: bolder;
    color: deeppink;
}

#intro-para {
    font-family: Raleway-Black;
    font-size: 18px;
    text-align: justify;
    padding-left: 10px;
}

.myphoto-palani:hover {
     width: 50%;
    height: 250px;
    border-radius: 5%;
    transform: rotate(360deg);
    
}

.myphoto {
     width: 50%;
    height: 50%;
    
}

.myphoto-palani {
    width: 30%;
    height: 200px;
    box-shadow: 9px 10px 9px rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
    transition: width 2s,height 2s,border-radius 2s,transform 2s;
}

.about-education li p {
    font-family:Raleway-Black;
    font-size: 18px;
}

.about-education {
    width: 50%;
    height: 50%;
}

.about-education li h5 {
    font-family:Raleway-Black;
    font-weight: bold;
}

.about-deatils {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

.about-deatils a {
    text-decoration: none;
    color: black;
}

.btn1-skill {
    width: 20%;
}

.btn2-project {
    width: 20%;
}

.btn3-certification {
    width: 20%;
}

.btn4-extra {
    width: 20%;
}

.btn1 {
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #ebdbfe;
    font-family:Raleway-Black;
    font-weight: bold;
    font-size: 20px;
            box-shadow: 7px 8px 9px rgb(0, 0, 0);
    border: none;
}

.btn2 {
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #63ffec;
    font-family:Raleway-Black;
    font-weight: bold;
    font-size: 20px;
            box-shadow: 7px 8px 9px rgb(0, 0, 0);
    border: none;
}

.btn3 {
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #07c34f;
    font-family:Raleway-Black;
    font-weight: bold;
    font-size: 20px;
            box-shadow: 7px 8px 9px rgb(0, 0, 0);
    border: none;
}

.btn4 {
    border-radius: 30px;
    width: 195px;
    height: 70px;
    background-color: #fe5d85;
    font-family:Raleway-Black;
    font-weight: bold;
    font-size: 20px;
            box-shadow: 7px 8px 9px rgb(0, 0, 0);
    border: none;
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover {
    margin: 8px 0px 0px 8px ;
    box-shadow: none;
    border: 1px solid black;
    color: black;
}

#services {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.webdevelop-service {
    width: 25%;
    box-shadow:15px 15px black;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 15px;
    overflow: hidden;
}

.uiuxdesign-service {
    width: 25%;
    height: fit-content;
    box-shadow:15px 15px black;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 16px;
    overflow: hidden;
}

.photoshop-service {
    width: 25%;
    height: fit-content;
    box-shadow:15px 15px black;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px; 
    text-align: justify;
    font-size: 16px;
    overflow: hidden;
}

.webdevelop-service h3,.uiuxdesign-service h3,.photoshop-service h3 {
    text-align: center;
    color: red;
}

.webdevelop-service h4,.uiuxdesign-service h4,.photoshop-service h4 {
    color: blue;
}

.webdevelop-service-btn {
    margin: 0px 20px 0% 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

.uiuxdesign-service-btn {
    margin: 0px 20px 10px 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

.photoshop-service-btn {
    margin: 0px 20px 0px 30%;
    height: 6%;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
    background-color: #4d54da;
    transition: all ease 0.2s;
}

.webdevelop-service-btn a,.uiuxdesign-service-btn a,.photoshop-service-btn a {
    text-decoration: none;
    color: white;
}

#contact-page h1 {
    font-family: Raleway-Black;
    font-weight: bolder;
    color: deeppink;
    width: 100%;
}

.contact-div {
    background-color: white ;
    width: 70%;
    height: 550px;
    margin: 10px 15% 10px 15%;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.form {
    width: 100%;
    height: fit-content;
}

.contact-div h2 {
    color: deeppink;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
}

form .name {
    margin-left: 20px;
    font-size: 30px;
    font-family: Raleway-Black;
}

.name-input {
    width: 65%;
    margin-left: 145px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}

form .mobile-number {
    margin-left: 20px;
    font-size: 30px;
    font-family: Raleway-Black;
}

.mobile-number-input {
    width: 65%;
    margin-left: 28px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}

form .gmail-id {
    margin-left: 20px;
    font-size: 30px;
    font-family: Raleway-Black;
}

.gmail-id-input {
    width: 65%;
    margin-left: 115px;
    height: 30px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}

form .describe {
    margin-left: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-family: Raleway-Black;
}

.describe-input {
    width: 65%;
    margin-left: 105px;
    height: 70px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
}

form button {
    background-color: deeppink;
    color: white;
    width: 10%;
    height: 30px;
    border-radius: 10px;
    margin-left: 47%;
    margin-top: 30px;
}

form button:hover {
    background-color: #4d54da;
}

.contact-div h4 {
    margin-left: 50%;
    font-size: 21px;
}

.socialmedia-contact {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.socialmedia-contact a {

    display: flex;
    justify-content: space-evenly;
}

.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover {
    height: 40px;
}

.footer {
    background-color: #f2f2f2;
    opacity: 50%;
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-around;
}

.footer a {
    text-decoration: none;
    font-family: Raleway-Black;
    color: black;
}

.footer a:hover {
    color: red;
}

.footer h5 {
    font-size: 20px;
    margin-bottom: 15%;
    margin-top: 15%;
    font-family: Raleway-Black;
}

.footer-all {
    margin-top: 3%;
}

.footer-portfolio {
    margin-top: 6%;
    font-size: 30px;
}

@media  screen and (max-width: 1250px) {
  .back-photo  {
    display: flex;
  }

    .back-div {
    height: 800px;
    width: 100%;
  }

  .back-photo-details {
      margin-top: 30%;
      margin-left: 5%;
      width: calc(100% - 50%  );
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      height: 40%;
  }

 .bottom-left1 {
        font-family: Raleway-Black;
        color: #4d54da;
        font-size: 50px;
        width: 100%;
        
    }

    .bottom-left2 {
    color: #4d54da;
    font-size: 50px;
    width: 100%;
    font-family: Raleway-Black;
}

.bottom-left3 {
    color: black;
    font-size: 20px;
    width: 100%;
    font-family: Raleway-Black;
}

.home-btn {
    color: white;
    font-size: 15px;
    width: 30%;
    font-family: Raleway-Black;
    border-radius: 10px;
    background-color: #fe5d85;
    border: none;
    height: 25px;
}

.home-btn:hover {
    background-color: #4d54da;
    transition: all ease 2s;
}

#about {
    height: 680px;
}

.aboutme {
    height: 680px;
}

.about-intro {
    width: 100%;
    margin-right: 5px;
    height: 200px;
}

.myphoto-palani {
    height: 150px;
    box-shadow: 9px 10px 9px rgb(0, 0, 0);
}

.myphoto-palani:hover {
    height: 250px;
}

.about-education {
    height: 300px;
}

.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3 {
    font-size: 12px;
}

.webdevelop-service,.uiuxdesign-service,.photoshop-service {
    height: fit-content;
    border-radius: 70px;
}

.uiuxdesign-service-btn,.photoshop-service-btn {
    margin-right: 50px;
}

.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
    font-size: 10px;
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 6%;
}

.name-input {
    width:55%;
    margin-left: 150px;
}

.mobile-number-input {
    width:55%;
    margin-left: 20px;
}

.gmail-id-input {
    width:55%;
    margin-left: 120px;
}

.describe-input {
    width:55%;
    margin-left: 110px;
}
}


@media screen and (min-width: 750px) and (max-width: 950px) {
    .logo a     {
        font-size: 25px;
    }

    .nav-links a {
        font-size: 14px;
    }

    .back-div {
        height: 600px;
        width: 100%;
    }
    .bottom-left1 {
    font-size: 35px;
}

    .bottom-left2 {
    font-size: 35px;
    font-family: Raleway-Black;
}

.bottom-left3 {
    font-size: 16px;
}

.home-btn {
    font-size: 15px;
    border-radius: 10px;
    border: none;
    height: 25px;
}

.home-btn:hover {
    background-color: #4d54da;
    transition: all ease 2s;
}

#about {
    height: 660px;
}
 
.about-intro {
    width: 100%;
    margin-right: 5px;
    height: 200px;
}

#intro-para,.about-education ul li p,.about-education ul li  {
    font-size: 13px;
}

.aboutme {
    background-color: #4d54da;
    width: 100%;
    height: 560px;
    color:white;
}

.about-education {
    height: 350px;
}

.myphoto {
    height: 300px;
}

.myphoto img  {
    height: 200px;
    width: 50%;
    box-shadow: 9px 10px 9px rgb(0, 0, 0);
}

.myphoto-palani:hover {
     width: 50%;
    height: 200px;
    border-radius: 5%;
    transform: rotate(360deg);
}

.btn1,.btn2,.btn3,.btn4 {
    border-radius: 30px;
    width: 155px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 8px 8px;
}
 
#services {
    height: fit-content;
}

.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3 {
    font-size: 9.5px;
}

.webdevelop-service,.uiuxdesign-service,.photoshop-service {
    height: fit-content;
    border-radius: 50px;
    font-size: 8px;
}

.webdevelop-service-btn,.uiuxdesign-service-btn,.photoshop-service-btn {
    font-size: 10px;
    width: 55%;
    margin-left: 50px;
}

.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
    background-color: #4d54da;
    transition: all ease 0.2s;
    height: 6%;
    width: 90px;
    font-size: 10px;
}

#contact-page h1 {
    font-family: Raleway-Black;
    font-weight: bolder;
    color: deeppink;
    width: 100%;
}

.contact-div {
    width: 70%;
    height: 400px;
    margin: 10px 15% 10px 15%;
    border-radius: 60px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.form {
    width: 100%;
    height: 330px;
}

.contact-div h2 {
    margin-top: 0px;
    font-size: 28px;
}

form .name {
    margin-left: 20px;
    font-size: 15px;
}

.name-input {
    width: 60%;
    margin-left: 75px;
    height: 25px;
}

form .mobile-number {
    margin-left: 20px;
    font-size: 15px;
}

.mobile-number-input {
    width: 60%;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
}

form .gmail-id {
    margin-left: 20px;
    font-size: 15px;
}

.gmail-id-input {
    width: 60%;
    margin-left: 60px;
    margin-top: 5px;
    height: 25px;
}

form .describe {
    margin-left: 20px;
    margin-top: 0px;
    font-size: 15px;
}

.describe-input {
    width: 60%;
    margin-left: 55px;
    margin-top: 5px;
    height: 45px;
}

form button {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 30px;
}
 
.contact-div h4 {
    margin-left: 50%;
    font-size: 15px;
}

.socialmedia-contact  {
    height: 30px;
}

.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover {
    height: 20px;
}

.footer {
    height: 200px;
}

.footer h5 {
    font-size: 18px;
}

.footer-all {
    margin-top: 85px;
    font-size: 13px;
}
 
.footer-about a,.footer-services a,.footer-contact a {
    font-size: 13px;
}

.footer-portfolio {
    margin-top: 55px;
    font-size: 30px;
}
}


@media screen and (min-width: 620px) and (max-width: 745px)   {
    .logo a     {
        font-size: 20px;
    }

    .nav-links a, .about-education ul li {
        font-size: 12px;
    }
    
    .back-div {
        height: 500px;
        width: 100%;
    }

    .back-photo-details {
        margin-top: 40%;
    }
    .bottom-left1 {
        font-size: 25px;
    }
    
        .bottom-left2 {
        font-size: 25px;
    }
    
    .bottom-left3 {
        font-size: 12px;
    }
    
    .home-btn {
        font-size: 10px;
        border-radius: 25px;
        border: none;
        height: 25px;
    }
    
    .aboutme, .about-intro, .about-education, #about, #services  {
        height: fit-content;
    }
    .myphoto-palani  {
        width: 40%;
        height: 120px;
        box-shadow: 7px 8px 9px rgb(0, 0, 0);
        border: 2px solid black;
        border-radius: 50%;
        margin-left: 100px;
        margin-top: 50px;
        transition: width 2s, height 2s, border-radius 2s, transform 2s;
    }
    #intro, #intro {
        font-size: 14px;
    }

    #intro-para,.about-education ul li p,.about-education ul li  {
        font-size: 10px;
    }
    
    .btn1,.btn2,.btn3,.btn4 {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .webdevelop-service , .webdevelop-service , .uiuxdesign-service , .photoshop-service  {
        height: fit-content;
        width: 20%;
        border-radius: 40px;
        font-size: 10px;
        box-shadow: 15px 15px 10px black;
    }

    .webdevelop-service h3, .uiuxdesign-service h3, .photoshop-service h3  {
        font-size: 10px;
    }

    .webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h4 {
        font-size: 8px;
        margin: 0;

    }
    
    .webdevelop-service-btn,.uiuxdesign-service-btn,.photoshop-service-btn {
       width: 80%;
        height: 20px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 8px;
    }
    
    .webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
        font-size: 10px;
        background-color: #4d54da;
        transition: all ease 0.2s;
        height: 6%;
    }

    .h1c {
        font-size: 14px;
        margin-top: 30px;
    }
    #contact-page h1 {
        font-size: 14px;
    }

    .contact-div {
        width: 70%;
        height: 350px;
    }
    
    .form {
        width: 100%;
        height: 250px;
    }

    .contact-div h2 {
        margin-top: 10px;
        font-size: 20px;
    }
    
    form .name {
        margin-left: 20px;
        font-size: 15px;
    }
    
    .name-input {
        width: 60%;
        margin-left: 75px;
        height: 25px;
    }
    
    form .mobile-number {
        margin-left: 20px;
        font-size: 15px;
    }
    
    .mobile-number-input {
        width: 60%;
        margin-left: 15px;
        margin-top: 5px;
        height: 25px;
    }
    
    form .gmail-id {
        margin-left: 20px;
        font-size: 15px;
    }
    
    .gmail-id-input {
        width: 60%;
        margin-left: 60px;
        margin-top: 5px;
        height: 25px;
    }
    
    form .describe {
        margin-left: 20px;
        margin-top: 0px;
        font-size: 15px;
    }
    
    .describe-input {
        width: 60%;
        margin-left: 55px;
        margin-top: 5px;
        height: 45px;
    }
    
    form button {
        width: 20%;
        height: 30px;
        border-radius: 10px;
        margin-left: 43%;
        margin-top: 10px;
    }
     
    .contact-div h4 {
        margin-left: 50%;
        font-size: 15px;
        margin-top: 10;
        margin-bottom: 10px;
    }
    
    .socialmedia-contact  {
        height: 30px;
        margin-top: 10px;
    }
    
    .gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover {
        height: 20px;
    }
    
    .footer {
        height: fit-content;
    }
    
    .footer h5 {
        font-size: 18px;
    }
    
    .footer-all {
        margin-top: 45px;
        font-size: 13px;
    }
     
    .footer-about a,.footer-services a,.footer-contact a {
        font-size: 13px;
    }
    
    .footer-portfolio {
        margin-top: 55px;
        font-size: 30px;
    }
}

@media screen and (min-width: 425px ) and (max-width: 619px ) {
    .logo a     {
        font-size: 15px;
    }

    .nav-links a, .about-education ul li {
        font-size: 8px;
    }
    
    .back-div {
        height: 300px;
        width: 100%;
    }

    .back-photo-details {
        margin-top: 40%;
    }
    .bottom-left1 {
        font-size: 15px;
    }
    
        .bottom-left2 {
        font-size: 15px;
    }
    
    .bottom-left3 {
        font-size: 8px;
    }
    
    .home-btn {
        font-size: 8px;
        width: 50%;
        border-radius: 25px;
        border: none;
        height: 20px;
    }

    .myphoto-palani  {
        width: 50%;
        height: 120px;
        box-shadow: 7px 8px 9px rgb(0, 0, 0);
        border: 2px solid black;
        border-radius: 50%;
        margin-left: 50px;
        margin-top: 50px;
        transition: width 2s, height 2s, border-radius 2s, transform 2s;
    }

    #intro, #intro {
        font-size: 14px;
    }
    .about-intro,.about-education, .myphoto, .aboutme, #about {
        height: fit-content;
    }
    #intro-para,.about-education ul li p,.about-education ul li  {
        font-size: 10px;
    }
    
    .btn1,.btn2,.btn3,.btn4 {
        width: 80px;
        height: 30px;
        font-size: 8px;
        box-shadow: 7px 8px 9px rgb(0, 0, 0);
    }

    #services {
        height: 1350px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3 {
        font-size: 11px;
    }
    
    .webdevelop-service,.uiuxdesign-service,.photoshop-service {
        width: 70%;
        height: 400px;
        border-radius: 50px;
        font-family: Raleway-Black;
        margin-bottom: 30px;
        box-shadow: 7px 8px 9px rgb(0, 0, 0);
    }
    
    .webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
        background-color: #4d54da;
        transition: all ease 0.2s;
        font-size: 11px;
        border: 0;
    }

    .h1c {
        font-size: 16px;
        margin-top: 30px;
    }
    #contact-page h1 {
        font-size: 16px;
    }

    .contact-div {
        width: 70%;
        height: 350px;
    }
    
    .form {
        width: 100%;
        height: 250px;
    }

    .contact-div h2 {
        margin-top: 10px;
        font-size: 20px;
    }
    
    form .name {
        margin-left: 20px;
        font-size: 12px;
    }
    
    .name-input {
        width: 55%;
        margin-left: 50px;
        height: 25px;
    }
    
    form .mobile-number {
        margin-left: 20px;
        font-size: 12px;
    }
    
    .mobile-number-input {
        width: 55%;
        margin-left: 5px;
        margin-top: 5px;
        height: 25px;
    }
    
    form .gmail-id {
        margin-left: 20px;
        font-size: 12px;
    }
    
    .gmail-id-input {
        width: 57%;
        margin-left: 35px;
        margin-top: 5px;
        height: 25px;
    }
    
    form .describe {
        margin-left: 20px;
        margin-top: 0px;
        font-size: 12px;
    }
    
    .describe-input {
        width: 55%;
        margin-left: 35px;
        margin-top: 5px;
        height: 45px;
    }
    
    form button {
        width: 25%;
        height: 20px;
        border-radius: 10px;
        margin-left: 43%;
        margin-top: 10px;
        font-size: 10px;
    }
     
    .contact-div h4 {
        margin-left: 50%;
        font-size: 15px;
        margin-top: 10;
        margin-bottom: 10px;
    }
    
    .socialmedia-contact  {
        height: 30px;
        margin-top: 10px;
    }
    
    .gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover {
        height: 20px;
    }
    
    .footer {
        height: fit-content;
    }
    
    .footer h5 {
        font-size: 16px;
    }
    
    .footer-all {
        margin-top: 45px;
        font-size: 10px;
    }
     
    .footer-about a,.footer-services a,.footer-contact a {
        font-size: 10px;
    }
    
    .footer-portfolio {
        margin-top: 55px;
        font-size: 25px;
    }
   
}

@media screen and (max-width: 426px) {
   .navbar   {
    justify-content: space-between;
    height: 25px;
   }

    .logo a  {
        font-size: 10px;
    }

    .nav-links a {
        font-size: 4px;
    }

    .back-div {
        height: 200px;
        width: 100%;
    }

    .back-photo-details {
        margin-top: 40%;
        margin-left: 5%;
        width: calc(100% - 50% );
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        height: 40%;
    }

    .bottom-left1 {
        font-size: 12px;
    }

    .bottom-left2 {
    font-size: 12px;
}

.bottom-left3 {
    font-size: 5px;
}

.home-btn {
    width: 30%;
    font-size: 3px;
    border-radius: 5px;
    border: none;
    height: 8px;
}

.home-btn:hover {
    background-color: #4d54da;
    transition: all ease 2s;
}

.about-intro {
    width: 100%;
    margin-right: 5px;
    height: fit-content;
    margin-top: 0%;
    margin-top: 0%;
}

#intro-para,.about-education ul li p,.about-education ul li {
    font-size: 8px;
}

#intro {
    font-size: 16px;
    height: 30px;
}

#about {
    height: fit-content;
}

.aboutme {
    background-color: #4d54da;
    width: 100%;
    height: fit-content;
    color:white;
}

.about-education  {
    height: fit-content;
    margin-top: 0%;
    margin-top: 0%;
}

.myphoto {
    height: fit-content;
}

.myphoto img  {
    height: fit-content;
    width: 50%;
    margin-left: 30px;
}

.myphoto-palani:hover {
    border-radius: 5%;
    transform: rotate(360deg);
}

.btn1-skill,.btn2-project, .btn3-certification, .btn4-extra {
    width: 50%;
}

.btn1,.btn2,.btn3,.btn4 {
    border-radius: 20px;
    width: 80%;
    height: 20px;
    font-weight: bold;
    font-size: 6px;
    box-shadow: 7px 8px 9px rgb(0, 0, 0);
}

.h1c {
    font-size: 16px;
    font-family: Raleway-Black;
}

#services {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.webdevelop-service h4,.webdevelop-service ul li,.webdevelop-service p,.webdevelop-service h3,.uiuxdesign-service h4,.uiuxdesign-service ul li,.uiuxdesign-service p,.uiuxdesign-service h3,.photoshop-service h4,.photoshop-service ul li,.photoshop-service p,.photoshop-service h3 {
    font-size: 6px;
}

.webdevelop-service,.uiuxdesign-service,.photoshop-service {
    width: 70%;
    height: fit-content;
    border-radius: 50px;
    font-family: Raleway-Black;
    margin-bottom: 30px;
    box-shadow: 10px 10px 9px rgb(0, 0, 0);
}


.webdevelop-service-btn,.uiuxdesign-service-btn,.photoshop-service-btn {
    height: 7%;
    width: 100px;
    font-size: 8px;
    margin-left: 30px;
}

.webdevelop-service-btn:hover,.uiuxdesign-service-btn:hover,.photoshop-service-btn:hover {
    background-color: #4d54da;
    transition: all ease 0.2s;
}

#contact-page h1 {
    font-size: 16px;
}

.contact-div {
    width: 90%;
    height: 250px;
    margin: 10px 15% 10px 5%;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.form {
    width: 100%;
    height: fit-content;
    
}

.contact-div h2 {
    margin-top: 10px;
    font-size: 14px;
}

form .name {
    margin-left: 20px;
    font-size: 10px;
}

.name-input {
    width: 45%;
    margin-left: 40px;
    height: 20px;
}

form .mobile-number {
    margin-left: 20px;
    font-size: 10px;
}

.mobile-number-input {
    width: 45%;
    margin-left: 2px;
    margin-top: 5px;
    height: 20px;
}

form .gmail-id {
    margin-left: 15px;
    font-size: 10px;
}

.gmail-id-input {
    width: 46%;
    margin-left: 35px;
    margin-top: 5px;
    height: 20px;
}

form .describe {
    margin-left: 20px;
    margin-top: 0px;
    font-size: 10px;
}

.describe-input {
    width: 48%;
    margin-left: 23px;
    margin-top: 5px;
    height: 30px;
}

form button {
    width: 25%;
    height: 15px;
    border-radius: 10px;
    margin-left: 43%;
    margin-top: 15px;
    font-size: 8px;
}

.contact-div h4 {
    margin-left: 50%;
    font-size: 8px;
}

.socialmedia-contact  {
    height: 10px;
    margin-top: 0;
}

.gmail-contact:hover,.whatsapp-contact:hover,.linkedin-contact:hover,.twitter-contact:hover,.instagram-contact:hover {
    height: 5px;
}

.footer {
    height:fit-content;
}


.footer h5 {
    font-size: 10px;
}

.footer-all {
    margin-top: 40px;
    font-size: 8px;
    
}

.footer-about a,.footer-services a,.footer-contact a {
    font-size: 6px;
    margin-top: 0px;
    padding-top: 0px;
}

.footer-portfolio {
    margin-top: 45px;
    font-size: 15px;
}
}