body{
    background-color: #4d54da;
}
#nav
{
    position: fixed;
    width: 100%;
    margin: 0px;
    opacity: 80%;
}
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 40px;

}
.logo
{
    margin-left: 6%;
}
.logo a{
    font-family: raleway;
    font-weight: bold;
    font-size: 35px;
    color: deeppink;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar a{
    text-decoration: none;
    display: block;
    position: relative;
    
}

.nav-links li
{
    margin-right: 40%;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
}

.navbar li a::after
{
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: deeppink;
    bottom: -0.4em;
    transition: all  ease-in-out 400ms;

}

.navbar li a:hover::after
{
    width: 100%;

}
.navbar li a:hover
{
    color: deeppink;
    transition: all  ease-in-out 400ms;
}
.project
{
    width: 100%;
}
.project h1,.experience h1
{
    font-family: Century751 SeBd BT;
    color:black;
    display: flex;
    width: 100%;
    text-align: justify;
}
.project-data,.experience-data
{
    margin-left: 7%;
    color: cornsilk;
    display: flex;
    width: 100%;
    text-align: justify;
}

.project-header,.experience-header
{
    margin-left: 5%;
    color:deeppink;
    font-weight: bold;
    display: flex;
    width: 100%;
    text-align: justify;
}
.project-header h3,.experience-header h3
{
    width: 100%;
    text-align: justify; 
}
.project-data li p,.experience-data li p{
    font-family: Century751 SeBd BT;
    display: flex;
    width: 100%;
    text-align: justify;
    
}
.project-data h3,.experience-data h3
{
    font-size: 22px;
    font-weight: 10px;
    display: flex;
    width: 100%;
    text-align: justify;
}
.project-data p,.experience-data p
{
    display: flex;
    width: 100%;
}
.project-data ul
{
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
}
.project-data-description
{
    color: #ffffff;
    width: 90%;
    margin-left: 10%;
    text-align: justify;
}
.project-data-description2
{
    color: #ffffff;
    width: 85%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: justify;
}
.experience-data-li
{
    color: #ffffff;
    width: 90%;
    margin-left: 10%;
    text-align: justify;
}
@media screen and (max-width:426px) {
    .navbar
    {
     justify-content: space-between;
     height: 25px;
    }
     .logo a 
     {
         font-size: 12px;
     }
     .nav-links a
     {
         font-size: 6px;
     } 
    .project h1,.experience h1
{
    font-family: Century751 SeBd BT;
    color:black;
    display: flex;
    width: 100%;
    text-align: justify;
    font-size: 25px;
}  
.project-data h3,.experience-data h3
{
    margin-left: 2%;
    color: cornsilk;
    display: flex;
    width: 100%;
    text-align: justify;
    font-size: 16px;
}
.project-data ul,.experience-data ul
{
    font-size: 12px;
    margin-left: 0%;
    margin-right: 10%;
}
.project-data-description 
{
    font-size: 12px;
    margin-left: 6%;
    margin-right: 3%;
    display: flex;
}
.project-header h2,.experience-header h2
{
    font-size: 20px;
}
.experience-header h2
{
    font-size: 18px;
}
.experience-data p
{
    font-size: 12px;
    margin-left: 6%;
    margin-right: 9%;
}
.experience-data-li
{
    font-size: 12px;
    margin-left: 6%;
    margin-right: 9%;
}
}